.projects{
  // background: $purple_dark url('/assets/img/projectsbg.png') no-repeat;
  margin-top: -150px;
  background-size: contain;
  float: left;
  width: 100%;
  line-height: 1.8rem;
  z-index: 2;
  color: #333;
  overflow: hidden;
  padding: 50px 5px;

  .project__body{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
  }

  .projects__head{
    float: left;
    width: 100%;
    margin: 0px auto 0px auto !important;
    transition: all .4s ease-in-out;
    h2{
      color: #333;
      text-transform: uppercase;
      font-size: 30px;
      margin-bottom: 40px;
    }
  }

  a{
    color: #333;
  }

  ul{
    float: left;
    margin-bottom: 0px;
    padding: 10px;
    margin: 0 0 0 -100px;
    width: 100%;
    transition: all .7s ease-in-out;
    li{
      position: relative;
      float: left;
      width: 100%;
      max-width: 800px;
      height: 300px;
      display: inline;
      padding: 5px 0;
      list-style-type: none;
      text-align: center;
      overflow: hidden;
      margin-bottom: 20px;
      background:#eef2f3;
      @include transition(all, .3s, ease-in-out);

      &{
        animation-name: showup;
        animation-duration: 2s;
      }

      &:hover {
        .project--img{
          opacity:  .8;
        }

        .project__info{
          bottom:  0;
          opacity: 1;
        }
      }


      &:first-child{
        height: 620px;
      }

      &:last-child{
        margin-bottom: 0px;
      }

      .project__link{
        float: left;
        width: 100%;
      }

      .project__info{
        text-align: left;
        position: absolute;
        width: 100%;
        color: #fff;
        bottom:  -50px;
        z-index: 451;
        opacity: 0;
        background: rgba($purple_darker, .9);
        @include transition(all, .3s, ease-in-out);
        line-height: 1.48;

        .project__title{
          padding: 5px;
          text-transform: uppercase;
          margin: 0;
        }

      }

      a.project--img{
        text-decoration: none;
        position: relative;
        z-index: 450;
        padding: 0;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }

      img{
        width: auto;
        width: 100%;
      }
    }
  }

  .more--up{
    display: none !important;
    padding: 0;
  }

  .more--down{
    display: block !important;
    padding: 10px;
  }

  #more__projects{
    float: left;
    width: 100%;
    text-align: center;

    a{
      width: 100%;
      color: $purple_dark;
      text-decoration: none;
      margin: 20px 0 15px 0;
      font-weight: bold;
      display: inline-block;
      padding: 10px;
      @include border-radius(5px);
      box-shadow: 1px 1px 2px rgba(black, .5);
      background: #fff;

      @include transition(all, .3s, ease-in-out);

      &:hover{
        background: #f9f9f9;
      }
    }
  }
}

@media all and (min-width: 800px){
  .projects{
    overflow: hidden;

    #more__projects{
      width: 30% !important;
      text-align: left !important;
      a{
        text-align: center;
        width: 200px !important;
      }
    }

    .more--up{
      display: block !important;
    }

    .more--down{
      display: none !important;
    }


    // .projects__head{
    //   width: 40%;
    //   position: relative;
    //   text-align: left !important;
    //   padding-left: 20px;
    //   margin-top: 10%;
    //   h2{
    //     font-size: 1.8rem !important;
    //   }
    // }
    ul{
      width: 100% !important;
      margin-left: 0px;
    }
    li{
      width: 455px !important;
      &:first-of-type{
        margin-right: 2%;
      }
      .project--info{
        text-align: left;
        @include transition(all, .3s, ease-in-out);
      }

      .project--img{
        @include transition(all, .3s, ease-in-out);
      }

      .project__info{
        float: left;
        width: 100%;
        padding: 10px;
        @include transition(all, .3s, ease-in-out);

        .project__title{
          padding: 5px 0px !important;
          margin: 0;
        }

        .project__subtitle{
          margin: 0;
        }

      }

      img{
      }
    }
  }
}